body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 컨테이너 전체 높이 설정 */
  width: 100%;
}

.head-title{
  height:100px;
}

.row-first {
  height: 300px;
  width: 100%;
  background-color: whitesmoke;
  margin-bottom: 10px;
  border: 1px solid black;
}

.row-second {
  height: 500px; /* 각 row의 높이 설정 */
  background-color: whitesmoke;
  margin-bottom: 10px; /* 각 row 사이의 간격 설정 */
  border: 1px solid black;
}

.row-third {
  height: 100%; /* 각 row의 높이 설정 */
  background-color: whitesmoke;
  margin-bottom: 10px; /* 각 row 사이의 간격 설정 */
  border: 1px solid black;
}